@font-face {font-family: 'Computer Modern Serif'; src: url('cmunrm.ttf'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Computer Modern Serif'; src: url('cmunbx.ttf'); font-weight: bold; font-style: normal;}
@font-face {font-family: 'Computer Modern Serif'; src: url('cmunti.ttf'); font-weight: normal; font-style: italic;}
@font-face {font-family: 'Computer Modern Serif'; src: url('cmunbi.ttf'); font-weight: bold; font-style: italic;}

@font-face {font-family: 'Computer Modern Sans'; src: url('cmunss.ttf'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Computer Modern Sans'; src: url('cmunsx.ttf'); font-weight: bold; font-style: normal;}
@font-face {font-family: 'Computer Modern Sans'; src: url('cmunsi.ttf'); font-weight: normal; font-style: italic;}
@font-face {font-family: 'Computer Modern Sans'; src: url('cmunso.ttf'); font-weight: bold; font-style: italic;}

@font-face {font-family: 'Computer Modern Typewriter'; src: url('cmuntt.ttf'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Computer Modern Typewriter'; src: url('cmuntb.ttf'); font-weight: bold; font-style: normal;}
@font-face {font-family: 'Computer Modern Typewriter'; src: url('cmunit.ttf'); font-weight: normal; font-style: italic;}
@font-face {font-family: 'Computer Modern Typewriter'; src: url('cmuntx.ttf'); font-weight: bold; font-style: italic;}

body {
  margin: 0;
  color: black;
  background-color: #ddf;
  font: normal normal 18px/23px "Computer Modern Serif", Garamond, Georgia, "Times New Roman", serif;
}

.container {
  width: 960px;
  margin: 0 auto;
  background-color: white;
  padding: 0;
}

.largeheader {
  background-color: #fff4f4;
  color: black;
  padding: 1em 1em 0.25em 1em;
}

.innercontent {
  padding: 1.5em;
}

/* In case we want two columns */

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 50%;
}

.footer {
  background-color: #fff4f4;
  font-family: "Computer Modern Serif", "Times New Roman", Times, serif;
  padding: 0.5em 1em;
  font-size: .8em;
  font-style: italic;
  clear: both;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: "Computer Modern Sans", Garamond, Georgia, serif;
  letter-spacing: .02ex;
  line-height: 100%;
  text-align: left;
}

h1 {
  text-align: left;
  color: #113;
  padding: 0 0 0.1em 0;
  font-size: 64px;
}

.abstract + h2 {
  border-top: none;
}

h2 {
  padding: 28px 0 0.12px 0;
  margin-top: 0.8em;
  /*border-top: 5px solid #fdd;*/
  font-size: 40px;
  font-weight: bold;
  color: #016;
}

body.coursenotes {
  background-color: white;
}

body.coursenotes .container {
  border: none;
}

h3 {
  padding: 0.3em 0 0.15em 0;
  margin-top: 0.7em;
  font-size: 30px;
  font-weight: bold;
  color: #825;
}

h4 {
  font-size: 22px;
  padding: 0.1em 0;
  color: green;
  letter-spacing: .1ex;
}

sup {
  position: relative;
  left: 0px;
  top: -5px;
  font-size: 70%;
}

/* Nice (generally) block-level semantic styles */

.abstract, header {
  border-top: 2px solid #b46;
  border-bottom: 2px solid #b46;
  padding: 12px 0;
  font: italic 17px "Computer Modern Serif", "Times New Roman", "Times", serif;
  color: #666;
}

.title {
  font-family: Arial, sans-serif;
  line-height: 1em;
  font-size: 225%;
  font-weight: bold;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.subtitle {
  font-family: Arial, sans-serif;
  font-size: 150%;
  padding-bottom: 0.6em;
  letter-spacing: .2ex;
}

.deco {
  font-family: "Computer Modern Sans", Verdana, Arial, sans-serif;
  letter-spacing: 1.2ex;
}

.box {
  border: 1px solid black;
  padding: 0 0.2em;
  margin: 0 0.1ex;
}

.hframe {
  border-top: 2px solid #cbb;
  border-bottom: 2px solid #cbb;
  padding: 0;
  margin: 2em 0;
  line-height: 200%;
}

.overbar {
  border-top: 1px solid black;
}

.hide {
  display: none;
}

.description {
  padding-left: 3em;
  line-height: normal;
}

div.answer {
  border-left: 0.2em solid #44ff44;
  padding-left: 0.6em;
  margin: 1em 2em;
  font-style: italic
}

i.question {
  font: italic 18px "Computer Modern Serif", "Times New Roman", serif;
}

div.scream {
  margin: .2em 20%;
  padding: .6em;
  width: 60%;
  background-color: #900;
  color: #ee0;
  font-size: 300%;
  line-height: 1.1em;
  text-align: center;
}

div.semantics {
  font-style: italic;
  font-family: serif;
  margin: 1em 40px;
  white-space: pre; !important
}

.semfun, .semantics var {
  font: bold 125% cursive;
  text-decoration: none;
  background-color: transparent;
}

div.equations, pre {
  font-family: "Computer Modern Typewriter", "Courier New", monospace;
  font-size: 15	px;
  line-height: 1.4em;
  margin: 1em 40px;
  white-space: pre; !important
}

pre.prettyprint {
  font-family: "Computer Modern Typewriter", "Bitstream Vera Sans Mono", "Courier", monospace;
  font-size: 80%;
  line-height: 1.4em;
  white-space: pre; !important
}

pre.code {
  background-color: #eef;
  padding: .75em  .75em .75em 1em;
  border: 1px solid #33d;
  white-space: pre;
}

pre.big {
  line-height: 1.2em;
  font-size: 1.3em;
}

table pre {
  font-size: 1em;
  line-height: 1.1em;
  margin: .25em .5em;
  white-space: pre; !important
}

table.reference pre {
  margin: 0;
  font-size: 12px;
}

p.centered, div.centered {
  text-align: center;
}

div.splitafter {
    border-bottom: 6px solid #804040;
    clear: both;
}

div.timeline {
    margin: 0 120px;
}

div.timeline div.box {
  text-align: center;
  padding: 0.3em 1em;
    background-color: #dff;
}

div.joiner {
  clear: both;
}

canvas {
  position: relative;
}

canvas.centeredAndBordered {
  display: table;
  background-color: white;
  margin: 1px auto;
  border: 1px solid grey;
  -webkit-user-select: none;
}

.console {
  white-space: pre;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #004;
  color: white;
  font-size: 80%;
  margin: 1em 40px;
  padding: .75em  .75em .75em 1em;
}

.console kbd {
    font-family: inherit;
    color: yellow;
    font-weight: 600;
}

.exercise {
  margin: 1em 40px;
  padding: 0.5em;
  border: thin dotted #999;
  background-color: #efa;
  font-style: italic;
}

.example {
  margin: 1em 40px;
  padding: 0.5em 1em;
  border: 1px dotted #862;
  background-color: #fff7f7;
}

.answertitle {
  background-color: #d8f0ff;
  padding: 0.2em 0.1em 0.3em;
  margin-top: 1.2em;
  border-top: 2px solid #379;
  font-size: 175%;
  font-weight: bold;
}

.sectiontitle {
  padding: 0.2em 0.1em 0.3em;
  margin-top: 1.2em;
  border-bottom: 1px solid #379;
  font-size: 200%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: .05ex;
}

.seal {
  background-image: url('/~ray/images/lmuseal.jpg');
  background-repeat: no-repeat;
  background-position: center 1em
}

div.filename {
    text-align: left;
    margin: 0 40px;
    clear: both;
    padding: 0;
    color: white;
}

div.filename span {
    font: normal 95% "Computer Modern Sans", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 4px 30px;
    letter-spacing: 0.12ex;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    background-color: #550055;
}

div.filename + pre.prettyprint {
    margin-top: 0;
    padding-top: 20px;
}

.coursepagesectiontitle {
  font-family: "Computer Modern Sans", Arial, Helvetica, sans-serif;
  padding: 0.1em;
  margin-top: 0.8em;
  font-size: 150%;
  font-weight: bold;
}

div.exam {
  font-size: 130%;
  width: 90%;
}

ol.exam-problems > li {
  page-break-before:always;
  padding-top: 1.5em;
}

ol.exam-problems li.no-new-page {
  page-break-before:avoid;
  padding-top: 1em;
}

ol.exam-problems li > ol {
  list-style-type: lower-alpha;
}

ol.problem-group {
  list-style-type: upper-alpha;
}

ol.problem-group > li {
  font-weight: bold;
}

ol.problem-group .problem li:first-child {
  margin-top: 1em;
}

ol.problem {
  list-style-type: decimal;
}

ol.problem li {
  font-weight: normal;
}

ol.problem li > ol {
  list-style-type: lower-alpha;
}

p.commentary {
  margin-left: 40px;
  margin-right: 40px;
  font: italic 90% serif;
  border: 1px solid grey;
  background-color: linen;
  padding: 0.5em;
}

/* Nice inline-styles */

tt {
  font-family: "Computer Modern Typewriter", "Courier New", monospace;
}

code, var {
    font-family: "Computer Modern Typewriter", "Lucida Console", "Courier New", monospace;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.lite {
  background-color: #ffff00;
}

.greennote {
  color:white;
  background-color:green;
  padding-left: 1ex;
  padding-right: 1ex;
  font-family: arial, serif;
}

.derivation mark {
  background-color: transparent;
  text-decoration: underline;
}

.register span {
  text-align: center;
  border: 1px solid black;
  padding: 0.3em;
  margin: 0px;
}

.commentary {
  font-family: "Times New Roman", Times, serif;
  font-size: 85%;
  font-style: italic;
  color: #222;
}

img.lefttop {
  float: left;
  margin: 0 1em .5em 0;
}

img.righttop {
  float: right;
  margin: 0 0 .5em 1em;
}

dfn {
  border: 1px dotted #77c;
  padding: 0 0.2em;
  background-color: #fff043;
  font-weight: bold;
  font-style: normal;
}

span.rule {
  font-family: "Computer Modern Serif", "Times New Roman", serif;
  font-variant: small-caps;
}

span.big {
  font-size: 130%;
}

span.name {
  font-family: "Computer Modern Serif", "Times New Roman", serif;
  font-variant: small-caps;
  position: absolute;
  left: 500px;
  padding-top: 0.75em;
}

/* Iframes */

iframe {
  border: 0;
}

/* Lists */

ul.spaced li {
  margin-bottom: 2.0ex;
}

ol.spaced li {
  margin-bottom: 3.0ex;
}

ul.compressed li {
  margin-bottom: 0.5ex;
}

ol.compressed li {
  margin-bottom: 0.5ex;
}

dl {
  margin-left: 2em;
}

dt {
  font-weight: bold;
  margin-bottom: 0.4ex;
  margin-top: 0.8ex;
}

dl.languagesemantics {
  margin-left: 0;
}

dl.languagesemantics dt {
  font-family: "Computer Modern Sans", "Lucida Console", "Courier New", monospace;
  /*border: 1px solid grey;*/
  background-color: #e6ffe6;
  padding: 3px;
  margin-bottom: 10px;
}

dl.languagesemantics dd {
  margin-left: 20px;
  margin-bottom: 20px;
}

ol.tutorialsteps li {
  padding-top: 1em;
  border-top: 2px solid red;
  margin-bottom: 2.5em;
}

/* Tables */

table {
  margin: 1em 40px;
  font-family: "Computer Modern Serif", arial, helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
}

table.borderless, table.borderless tr, table.borderless td {
  background-color: transparent;
  border-width: 0px;
}

table.definitions tr td:first-child {
  padding-right: 40px;
}

table.fullwidth {
  margin: 1em 0;
  width: 100%;
}

table.opcode {
  margin: 1em 0;
  width: 100%;
}

table.rubric td {
  font-size: 32px;
  padding: 8px;
  text-align: center;
}

table.numeric td {
  font-family: "Computer Modern Typewriter", "Lucida Console", "Times New Roman", monospace;
  text-align: right;
}

table.worksheet {
  margin-top: 1em;
}

table.worksheet td {
  text-align: center;
  padding: 2px 5ex;
}

th {
  background-color: #aff;
  color: black;
  font-family: "Computer Modern Sans", arial, helvetica, sans-serif;
  padding: 0.4em;
  border: 1px solid black;
}

td {
  vertical-align: top;
  background-color: #dff;
  color: black;
  padding: 0.2em 0.4em;
  border: 1px solid black;
}

td.nowrap {
  white-space: pre;
}

table.biomorph {
 margin-left: 0px;
 margin-right: 0px;
}

table.biomorph td {
  text-align: center;
  margin: 0;
  padding: 0;
}

.opcode td, .opcode th {
  font-family: arial helvetica, sans-serif;
  font-size: 67%;
  text-align: center;
}

table.inferencerule {
  margin: 0 0 1em 20px;
}

table.inferencerule td.top, table.inferencerule td.bottom {
  font: 120% "Computer Modern Typewriter", "Lucida Console", "Courier New", monospace;
  text-align: center;
  padding: 0.1em 1em;
}

table.inferencerule td.name {
  font-family: "Computer Modern Serif", "Times New Roman", serif;
  font-variant: small-caps;
  text-align: center;
}

table.inferencerule var, var.inrule {
  font-family: "Computer Modern Serif", "Times New Roman", serif;
  font-style: italic;
  padding: 0 .2ex .2ex .2ex;
  background-color: transparent;
}

/* Blockquote Styles */

blockquote {
  background-color: #ffeeff;
  border: 1px solid #f6f;
  margin: 1em 40px;
  padding: .75em  .75em .75em 1em;
  font-style: italic;
}

blockquote.warning {
  background-color: #ffddd5;
  border: 1px solid #840;
  padding: 1em 1em 1em 5em;
  background-image: url('/~ray/images/warning-icon.png');
  background-repeat: no-repeat;
  background-position: 1em 1em
}

blockquote p, blockquote ul, blockquote ol, blockquote li {
  background-color: inherit;
}

/* Anchor Styles */

a img {
  border-style: none;
  color: white;
}

a:link {
  color: #006;
}

a:visited {
  color: #646;
}

a:hover {
  color: red;
  background-color: #ffffcc;
}
